/* Taken from http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 100px;
  margin: 10px auto 100px;

  text-align: center;
}

.spinner > div {
  display: inline-block;

  width: 18px;
  height: 18px;

  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;

  border-radius: 100%;
  background-color: #fff;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.bounce1, .bounce2, .bounce3 {
  box-shadow: 1px 1px 10px #000;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
}
