@import 'skeleton/skeleton.css';
@import 'skeleton/normalize.css';
@import 'spin-kit.css';

body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 300;

	background: #6fcf97;
}

/*
* LOGO SECTION
*/
.logo-sect {
	text-align: center;
}

.logo-sect img {
	height: 9vh;
	padding: 1.5vh;
}

/*
* VIDEO SECTION
*/
.video-sect {
	background: #000;
}

.video-sect #video {
	display: block;

	width: 100%;
}

/*
* IMAGE SECTION
*/
.image-sect {
	text-align: center;
}

.image-sect #image-canvas {
	display: block;

	width: 100%;
	margin: 0 auto;
}

/*
* GREEN BUTTON SECTION
*/
.outer-button {
	position: absolute;
	z-index: 1;

	width: 10vh;
	height: 10vh;
	margin-left: 50%;

	cursor: pointer;
	transform: translate(-50%, -50%);

	border: 1px solid rgba(1,1,1,0.3);
	border-radius: 10vh;
	background: #01a101;
	box-shadow: 0 2px 10px #333;
}

.outer-button .inner-button {
	width: 8vh;
	height: 8vh;
	margin-top: 50%;
	margin-left: 50%;

	transform: translate(-50%, -50%);

	border: 1px solid rgba(1,1,1,0.3);
	border-radius: 8vh;
	background: #01a101;
	box-shadow: 0 2px 5px #333;
}

.card {
	font: 'Helvetica Neue Light';
	font-size: 4em;

	z-index: -1;

	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;

	text-align: center;

	background: #c4c4c4;
	box-shadow: 0 1px 10px #000;
}

/*
* HOME SCREEN SECTION
*/
.screen-home .card p {
	margin-top: 10%;
}

.screen-home .card .btn-txt-green {
	color: #01a101;
}

/*
* LOADING SCREEN SECTION
*/
.screen-loading {
	margin-top: -190px;
	margin-bottom: 20px;

	text-align: center;
}

.screen-loading h1 {
	font-family: 'Roboto Mono', monospace;

	color: #fff;
	text-shadow: 1px 1px 10px #000;
}

.screen-loading .card p {
	font-size: 18px;
}

.screen-loading .card img {
	width: 25px;
	height: 25px;
}

/*
* ANALYSED SCREEN SECTION
*/
.screen-analysed {

}

.screen-analysed .img-container {
	width: 4em;
	height: 4em;
	border-radius: 4em;
	margin: 0 auto;
}

.img-container img {
    width: 2.5em;
    height: 2.5em;
    transform: translate(-50%, -50%);
    margin-top: 50%;
    margin-left: 50%;
}

.screen-analysed .amount {
	width: 2em;
	height: 2em;
	border-radius: 2em;
	background: #fff;
	color: #000;
	text-align: center;
	line-height: 2em;
	margin: 10px auto;
}

.screen-analysed .trash .img-container {
	background-color: #000;
}

.trash .img-container {

}

.screen-analysed .compost .img-container {
	background-color: #EB5757;
}

.screen-analysed .paper .img-container {
	background-color: #2F80ED;
}

.screen-analysed .metal .img-container {
	background-color: #F2C94C;
	transform: scale(-1,1);
}

#results #results-template {
	display: none;
}

#results #results-container ul {
	list-style: none;
}


.icon-credits {
	display: none;
}
