@import 'skeleton/skeleton.css';
@import 'skeleton/normalize.css';
@import 'spin-kit.css';

body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 300;

	background: #6fcf97;
}

/*
* LOGO SECTION
*/
.logo-sect {
	height: 65px;

	text-align: center;
}

.logo-sect img {
	height: 100%;
}

/*
* VIDEO SECTION
*/
.video-sect {
	background: #000;
}

.video-sect #video {
	display: block;

	width: 100%;
}

/*
* IMAGE SECTION
*/
.image-sect {
	text-align: center;
}

.image-sect #image-canvas {
	display: block;

	width: 100%;
	margin: 0 auto;
}

.image-sect #loader {
	position: absolute;

	margin-left: 50%;
	padding: 20px;

	transform: translate(-50%,-200%);

	color: #fff;
	background: rgba(0,0,0,0.5);
}

/*
* GREEN BUTTON SECTION
*/
.outer-button {
	position: absolute;
	z-index: 1;

	width: 88px;
	height: 88px;
	margin-left: 50%;

	cursor: pointer;
	transform: translate(-50%, -50%);

	border: 1px solid rgba(1,1,1,0.3);
	border-radius: 88px;
	background: #01a101;
	box-shadow: 0 2px 10px #333;
}

.outer-button .inner-button {
	width: 66px;
	height: 66px;
	margin-top: 50%;
	margin-left: 50%;

	transform: translate(-50%, -50%);

	border: 1px solid rgba(1,1,1,0.3);
	border-radius: 66px;
	background: #01a101;
	box-shadow: 0 2px 5px #333;
}

.card {
	font: 'Helvetica Neue Light';
	font-size: 24px;

	z-index: -1;

	margin-top: 8%;
	padding: 15px;

	text-align: center;

	background: #c4c4c4;
	box-shadow: 0 1px 10px #000;
}

/*
* HOME SCREEN SECTION
*/
.screen-home .card p {
	margin-top: 10%;
}

.screen-home .card .btn-txt-green {
	color: #01a101;
}

/*
* LOADING SCREEN SECTION
*/
.screen-loading {
	margin-top: -190px;
	text-align: center;
	margin-bottom: 20px;
}

.screen-loading h1 {
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	text-shadow: 1px 1px 10px #000;
}

.screen-loading .card p {
	font-size: 18px;
}

.screen-loading .card img {
	width: 25px;
	height: 25px;
}



#results #results-template {
	display: none;
}

#results #results-container ul {
	list-style: none;
}


.icon-credits {
	display: none;
}
